@model CryptoPortfolio.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CryptoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CryptoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinGeckoCoinId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinGeckoCoinId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CryptoAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CryptoAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiatAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiatAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiatTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiatTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
